.profilePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
}

.profilePage .profileInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.profilePage .profileError {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10%;
}