.education {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  height: 100%;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  left: 15%;
}

.education .text {
  display: flex;
  flex-direction: column;
  width: 40%;
}